.search-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
}

.next-button{
    min-width: 100px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    background-color: #4285f4;
    color: white;
    float: right;
    margin-right: 50px;
}

.prev-button{
    min-width: 100px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    background-color: #4285f4;
    color: white;
    float: left;
    margin-left: 50px;
}